<div class='card'>
    <form (ngSubmit)="editProduct()">
<div class='card-header'>
 Edit Product
</div>
<div class='card-body'>            
  <div class='table-responsive'>
    <table class='table'>       
    
      <tbody>  
          <tr>
              <td> <label>Product Id</label></td>
              <td><input type="text" name="p_id"  [(ngModel)]="productItem.productId"/></td>                  
            </tr>   
            <tr>
                <td><label>Product Name</label></td>
                <td><input type="text" name="p_name" [(ngModel)]="productItem.productName"/></td>                  
              </tr>  
              <tr>
                <td><label>Product Code</label></td>
                <td><input type="text" name="p_code" [(ngModel)]="productItem.productCode"/></td>                  
              </tr>  
              <tr>
                <td><label>Product Date</label></td>
                <td><input type="text" name="p_date" [(ngModel)]="productItem.releaseDate"/></td>                  
              </tr>  
              <tr>
                <td><label>Product Description</label></td>
                <td><input type="text" name="p_desc" [(ngModel)]="productItem.description"/></td>                  
              </tr>  
              <!-- <tr>
                <td> <label>Product Price</label></td>
                <td><input type="text" name="p_price" [(ngModel)]="productItem.price"/></td>                  
              </tr>   -->
              <tr>
                <td> <label>Product starRating</label></td>
                <td><input type="text" name="p_rating" [(ngModel)]="productItem.starRating"/></td>                  
              </tr>  
              <tr>
                <td><label>Product imageUrl</label></td>
                <td><input type="text" name="p_image" [(ngModel)]="<div class='card'>
    <form (ngSubmit)="editAuthor()">
<div class='card-header'>
 Edit Author
</div>
<div class='card-body'>            
  <div class='table-responsive'>
    <table class='table'>       
    
      <tbody>  
          <tr>
              <td> <label>Author Id</label></td>
              <td><input type="text" name="a_id"  [(ngModel)]="authorList.authorId"/></td>                  
            </tr>   
            <tr>
                <td><label>Author Name</label></td>
                <td><input type="text" name="a_name" [(ngModel)]="authorList.productName"/></td>                  
              </tr>  
              <tr>
                <td><label>Author Code</label></td>
                <td><input type="text" name="a_code" [(ngModel)]="authorList.productCode"/></td>                  
              </tr>  
              <tr>
                <td><label>Author Date</label></td>
                <td><input type="text" name="a_date" [(ngModel)]="authorList.releaseDate"/></td>                  
              </tr>  
              <tr>
                <td><label>Author Description</label></td>
                <td><input type="text" name="a_desc" [(ngModel)]="authorList.description"/></td>                  
              </tr>  
              <!-- <tr>
                <td> <label>Product Price</label></td>
                <td><input type="text" name="p_price" [(ngModel)]="authorList.price"/></td>                  
              </tr>  
              <tr> -->
                <td> <label>Author starRating</label></td>
                <td><input type="text" name="a_rating" [(ngModel)]="authorList.starRating"/></td>                  
              </tr>  
              <tr>
                <td><label>Author imageUrl</label></td>
                <td><input type="text" name="a_image" [(ngModel)]="authorList.imageUrl"/></td>                  
              </tr>  
              <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>                  
              </tr>             
      </tbody>
    </table>
  </div>
</div>
</form>
</div>
.imageUrl"/></td>                  
              </tr>  
              <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>                  
              </tr>             
      </tbody>
    </table>
  </div>
</div>
</form>
</div>

